[Unit]
Description=Start FPV Camera Stream to UDP Server at GCS
Requires=network.target

[Service]
Type=simple
User=root
ExecStart=/home/pi/piZero-4G-FPV/start-camera.sh
Restart=always
RestartSec=3
StartLimitBurst=999

[Install]
WantedBy=multi-user.target


